VITE_FIREBASE_API_KEY=AIzaSyA43T_MJAweF8K_sq2MSJ7ac6axChFHUzA
VITE_FIREBASE_AUTH_DOMAIN=devup-workspace.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=devup-workspace
VITE_FIREBASE_STORAGE_BUCKET=devup-workspace.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=785256070923
VITE_FIREBASE_APP_ID=1:785256070923:web:f209d50995f4799f43ac0e
VITE_ADMIN_EMAILS=
